@charset "UTF-8";
/*----------------------------------Global----------------------------------*/
div, body, p, a, ul, li{
	margin:0;
	padding:0;
}
body{
	background-color:#111;
}
.button{
	margin:10px;
	padding:5px;
	outline: none;
}
/*
.button{
	border: 2px solid black;
	font-size:30px;
	margin:10px;
	padding:5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	outline: none;
	cursor:pointer;
}
.btn_vert{
	background-color:green;
	color:#00FFCC;
}*/
h1{
	text-align:center;
	/*display:inline-block;*/
	z-index:100;
}
/*----------------------------------Header--------------------------------*/
#header{
	height:60px;
	width:100%;
	background-color:#555;
	border: 2px solid black;
	position:fixed;
	z-index:100;
}
#headerTitle{
	text-align:left;
	font-size:30px;
	/*border: 2px solid black;*/
	display: inline-block;
	margin:10px;
	color:white;
	font-weight:bold;
	text-decoration:none;
}
#headerSearch{
	float:right;
	margin-top:15px;
	margin-right:15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	height:25px;
	padding-left:10px;
	background-color:#DDD;
	outline: none;
}
#btn_register{
	float:right;
}
.header_no_overlap{
	height:60px;
}
/*----------------------------------Index.html----------------------------------*/
#main_div{
	
	max-width:960px;
	background-color:#6685E0;
	/*border: 2px solid black;*/
	margin: 0 auto;
	/*position:relative;*/
}
/*----------------------------------Main P1 Manga List ---*/
#main_div_p1{
	/*height:400px;*/
	/*width:100%;*/
	/*border: 2px solid black;*/
	/*background-color:#888;*/
}
#main_div_p1_1{
	background-color:#888;
}
#main_div_p1_2{
	/*background-color:orange;*/
	/*min-height:300px;*/
	opacity:0.8;
	padding:10px;
	margin:auto;
	position:relative;
}
#progress_bar{
	position:absolute;
	width:100px;
	height:100px;
	background-color:green;
	top:40%;
	left:20%;
	z-index:100;
}
.m1{
	height:250px;
	width:140px;
	/*background-color:#339933;*/
	margin: 8px;
	display:inline-block;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.m1_img{
	height:160px;
	width:90%;
	background-color:#FFF;
	/*display:inline-block;*/
	border: 1px solid black;
	margin:5px auto 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.thumb{
	height:100%;
	width:100%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.m1_t{
	text-align:center;
	font-size:18px;
	font-weight:bold;
}
.m1_d{
	text-align:center;
	font-size:16px;
	margin:5px 0;
}
.m1_c{
	text-align:center;
	font-size:18px;
	font-weight:bold;
}
/*----------------------------------Main P2 Manga List ---*/
/*--------------- Buttons*/
#btn_collapse{
	float:right;
}
#main_div_p2{
	background-color:#666;
	overflow:auto;
}
.main_div_p2_b1{
	float:left;
}
#main_div_p2_b2{
	float:right;
}
/*--------------- Main*/
.m2{
	height:40px;
	width:500px;
	/*background-color:#339933;*/
	margin: 8px;
	/*display:inline-block;*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color:white;
	clear:both;
}
.m2_img{
	height:15px;
	width:15px;
	background-color:#FFF;
	/*display:inline-block;*/
	border: 1px solid black;
	margin:5px;
	/*-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;*/
	float:left;
}
.m2_t{
	font-size:18px;
	font-weight:bold;
}
.m2_link{
	text-decoration:none;
	color:blue;
}
.m2_c{
/*text-align:center;*/
font-size:18px;
font-weight:bold;
/*float:left;*/
}
.m2_d{
	font-size:16px;
	margin-top:15px;
	display:inline-block;
}
.m2_1{
/*background-color:green;*/
/*border:2px solid black;*/
width:400px;
/*height:40px;*/
float:left;
}
.m2_2{
/*background-color:orange;*/
}
/*----------------------------------Isotop Start------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */

.isotope {
  border: 1px solid #333;
  max-width: 1200px;
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}
/*
------------------------------------------manga/somemanga.html
*/
#manga_body_div{
	background-color:red;
	max-width:960px;
	margin:auto;
}
#manga_div{
	padding:10px;
	margin:auto;
	background-color:green;
	text-align:center;
	
}
.manga_img{
	max-width:100%;
	max-height:100%;
	cursor:pointer;
}
/*
#main_div{
min-height:2000px;
max-width:960px;
background-color:#6685E0;
border: 2px solid black;
margin: 0 auto;
margin-top:0px;
position:relative;
top:80px;
}*/
#chapter_select{
	float:left;
	margin-left:40px;
	height:25px;
	margin-top:20px;
}
.chapter_ul{
	list-style:none;
	margin:10px 0;
	float:left;
}
.chapter_ul li{
	display:inline-block;
	border:1px solid black;
	background:white;
	padding-top:10px;
	transition: .25s ease-out;
	outline:none;
	cursor:pointer;
	height:40px;
}
.chapter_ul li:first-child{
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.chapter_ul li:last-child{
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.chapter_ul li:hover{
	background:#66CCFF;
	transition:300;
	transition: .25s ease-out;
}
.ch_selected{
	background:#66CCFF!important;
}
#btn_left li{
	margin-left:50px;
}
.btn_mid li{
	width:40px;
}
#btn_right li{
	
}
.btn_mid{
	margin-left:50px;
	margin-right:50px;
}
#l_btn_left{
	margin-left:150px;
}
/*
------------------------------------------manga/login.html
*/
#login_div{
	background:white;
}
#register-form{
	width:500px;
	margin:auto;
}
#register-form label{
	width:100px;
	display:inline-block;
	margin:10px;
}
#register-form span{
	color:red;
	margin-left:5px;
}


